
<div> <%= image_tag "logo.png" , :class => "img_logo" %> </div>

<h1 class="centred"> <font size=+4> Ruby On Rails </font> </h1>
<h3 class="centred"> <i> WHAT TO EXPECT... </i> </font> </h3>

<div>
  <div class="athird" > <%= image_tag "Memeone.png" , :class => "image" %> </div>
  <div class="athird"> <%= image_tag "Memetwo.png" , :class => "image" %> </div>
  <div class="athird"> <%= image_tag "Memethree.png" , :class => "image" %> </div>
</div>
